:root {
    --bg-color: #131313;
    --primary-txt-color: #1A8A09;
    --white-txt-color: #fff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background-color: #131313;
    color: var(--white-txt-color);
}

input:focus
{
	outline:0;
}

main {
    margin-top: 2.5em;
}

.container {
    width: 90%;
    max-width: 80em;
    margin-inline: auto;
}

img {
    width: 10em;
}

.img-container {
    text-align: center;
    margin-bottom: 2em;
}

.banner {
    color: var(--primary-txt-color);
}

.p-container {
    margin-bottom: 1.5em;
}

.flex {
    display: flex;
}

.cursor::after {
  content: "";
  width: 8px;
  height: 20px;
  background: #fff;
  color: #fff;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

input[type=text] {
    margin:0;
	border:0;
	padding:0;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;
    display: inline;
}
